<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <h1>{{ session.username }}'s Family Trip Expenses</h1>
        <a href="{{ url_for('tripSelection') }}">
            <button type="button" class="btn btn-large">Add New Trip</button>
        </a>

        <a href="{{ url_for('newExpense') }}">
            <button type="button" class="btn btn-large">Add New Expense</button>
        </a>

        <a href="{{ url_for('viewExpense') }}">
            <button type="button" class="btn btn-large">View All Expenses</button>
        </a>
        
        <div class="visited-countries">
            <span class="label">Countries you have been to:</span>

            <div class="flags">
                {% for country in countries %}
                    <span class="flag" title="{{ country.country_name }}">
                        {{ country.flag }}
                    </span>
                {% endfor %}
            </div>
        </div>

        <a href="{{ url_for('logout') }}">
            <button class="btn btn-danger">Logout</button>
        </a>
    </div>

    <!-- Flexible Modal for Delete / Errors -->
        <div id="flexModal" class="modal">
            <div class="modal-content">
                <p id="modal-text"></p>
                <form id="modalForm" method="POST" style="display:none;">
                    <button type="submit" class="btn btn-cancel" id="modalConfirmBtn">Yes, Delete</button>
                    <button type="button" class="btn btn-submit" onclick="closeModal()">Cancel</button>
                </form>
                <button type="button" class="btn" id="modalOkBtn" style="display:none;" onclick="closeModal()">OK</button>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        openModal({
                            type: '{{ category }}',
                            text: "{{ message|escape }}"
                        });
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });
        </script>
</body>

</html>